.dark-mode {

  background-color: #121212;

  color: #e0e0e0;

}

.dark-mode header {

  background-color: #1e1e1e;

}

.dark-mode .container {

  background-color: #2c2c2c;

}

.dark-mode footer {

  background-color: #1e1e1e;

}